= render 'shared/flash'

h2.pt-3 Create new question

= render 'shared/errors', resource: @question

= form_with model: @question, local: true do |f|
  = render 'form_content', question: @question, f: f
