h1= @question.title

- if user_signed_in? && current_user.author_of?(@question)
  = button_to 'Delete question', @question, method: :delete

h2= @question.body

.answers
  = render 'answers'

= render 'answers/form'
