.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: gray
}

.navright {
  padding-right: 2px;
  float: right;
}

.navleft {
  padding-left: 2px;
  float: left;
}
